.reference {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 3988px;
  z-index: 10;

  div {
    margin: 0 auto;
    width: 1366px;
    height: 100%;

    opacity: 30%;

    background-image: url('./reference/screenshot.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

:root {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;

  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-dark-gray: hsl(0, 0%, 20%);

  --body-bg-color: hsl(var(--hue), 60%, 94%);
  --bg-color: hsl(var(--hue), 60%, 96%);
  --bg-white: hsl(0, 0%, 100%);

  --border-color: hsl(var(--hue), 48%, 80%);

  --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
  --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);

  --fs-4xl: 50px;
  --fs-3xl: 35px;
  --fs-2xl: 26px;
  --fs-xl: 20px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
}
